*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f7ede2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}